<ion-header>
  <ion-grid class='nav'>
    <ion-row justify-content-center align-items-center>
      <ion-col class='back-col' col-1>
        <button (click)="back()" ion-button no-padding no-margin clear>
          <ion-icon class="nav-icon back-icon" name="custom-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-label class='header-title'>Table Notice</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content overflow-scroll='true' class='master'>

  <form [formGroup]='form'>
    <ion-card class='card'>
      <ion-row>
        <ion-col>
          <ion-textarea maxLength="180" class='reply-input' formControlName='noticeContent'
            placeholder="Chicken is finished,8pm to 10pm is fully booked,...">
          </ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class='text-hint2' col-8>
          <span>Separate your notice with ","</span>
        </ion-col>
        <ng-container *ngIf='isFormChanged'>
          <ion-col class='button-col'>
            <button class='reply-button' (click)='updateNotice()' [disabled]='needSpinner' ion-button no-margin>
              <ng-container *ngIf='!needSpinner'>
                <ng-container *ngIf='form.value.noticeContent'>
                  <span class='button-text'>Update</span>
                </ng-container>
                <ng-container *ngIf='!form.value.noticeContent'>
                  <span class='button-text'>Remove</span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf='needSpinner'>
                <ion-spinner></ion-spinner>
              </ng-container>
            </button>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-card>
  </form>

</ion-content>
