page-login {

  * {
    @include my-font();
  }

  .grid {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  // Login Image
  .image-content {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20%;
  }

  .login-image {
    width: 8em;
    height: 8em;
  }

  .slider-text {
    font-size: 1.3em;
    color: $GREY_TEXT_WHITE;
  }

  .ms-slider {
    display: inline-block;
    height: 1.5em;
    overflow: hidden;
    vertical-align: middle;
    mask-image: linear-gradient(transparent, white, white, white, transparent);
    mask-type: luminance;
    mask-mode: alpha;

    &__words {
      display: inline-block;
      margin: 0;
      padding: 0;

      list-style: none;

      animation-name: wordSlider;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
    }

    &__word {
      display: block;
      line-height: 1.3em;
      text-align: left;
      text-align: center;
    }
  }

  @keyframes wordSlider {
    $steps: -0%, -25%, -50%, -75%;

    @for $index from 0 to length($steps)-1 {
      $next: $index+1;
      $step: floor(100/(length($steps)-1));
      $animation_step: floor($step*.2);

      #{$step*$index}%,
      #{($step*$next) - $animation_step}% {
        transform: translateY(nth($steps, $index+1));
      }
    }

    100% {
      transform: translateY(nth($steps, length($steps)));
    }
  }

  // Input content
  .input-content {
    position: relative;
    bottom: 6em;
  }

  .user-input {
    border-bottom: 1px solid $GREY_BORDER_LINE;
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 1.2em;

    .text-input-md {
      text-align: center;
    }
  }

  .sendButton {
    margin-top: 0.5em;
    width: 100%;
    height: 3em;
    border: 1px solid $GREY_BORDER_LINE;
    border-radius: 10em;
    color: white;
    font-weight: 400;
    @include my-gradient($GRADIENT_TOP, $GRADIENT_BOTTOM);
    @include my-img-shadow();
  }

  .sendButton-disabled {
    margin-top: 0.5em;
    width: 100%;
    height: 3em;
    border: 1px solid $GREY_BORDER_LINE;
    border-radius: 10em;
    background-color: $GREY_TEXT_WHITE;
  }

  .sendButton-text {
    color: white;
    font-weight: 400;
    font-size: 1.2em;
  }

  .bottom-content {
    position: absolute;
    bottom: 1em;
    width: 89%;
  }

  .clickable-first-row {
    margin-bottom: 0.2em;
  }

  .clickable-text {
    color: $GREY_TEXT_WHITE;
  }

  .clickable-link {
    margin-top: 0.5em;
    text-decoration: underline;
    color: $GRADIENT_TOP;
  }
}
