page-term {
  * {
    @include my-font();
  }

  .header-md::after {
    background-image: none !important;
  }

  .nav {
    padding: 0;
    background-color: white;
  }

  .back-col {
    padding-left: 0;
    padding-right: 0;
  }

  .back-icon {
    width: 1.5em;
  }

  .nav-icon {
    font-size: 1.5em;
    color: $GREY_ICON_WHITE_DARKER;
  }

  .header-title {
    font-size: 1.5em;
    margin: 0;
  }

  // terms

  .content-holder {
    padding: 1em 0.5em;
  }

  .subtitle {
    font-size: 1.4em;
    font-weight: 400;
    text-align: left !important;
  }

  .content-value {
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
  }
}
