<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067296930553-0lhc5139sc2b0lk6j5oh56imgnnutf2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067296930553-0lhc5139sc2b0lk6j5oh56imgnnutf2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1067296930553-qr0q1qa6ev3r551h5ug1eso5gah83ul2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCovfFFLJiGDaLRz3EVcL9x6P8hGkR8Pio</string>
	<key>GCM_SENDER_ID</key>
	<string>1067296930553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilovou.vouplan</string>
	<key>PROJECT_ID</key>
	<string>ilovou-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>ilovou-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067296930553:ios:2fe8ae3182870c90a98028</string>
	<key>DATABASE_URL</key>
	<string>https://ilovou-studio.firebaseio.com</string>
</dict>
</plist>