page-coffee {

  * {
    @include my-font();
  }

  .header-md::after {
    background-image: none !important;
  }

  .nav {
    padding: 0;
    background-color: white;
    border-bottom: 1px solid $GREY_BORDER_LINE;
  }

  .back-col {
    padding-left: 0;
    padding-right: 0;
  }

  .back-icon {
    width: 1.5em;
  }

  .nav-icon {
    font-size: 1.5em;
    color: $GREY_ICON_WHITE_DARKER;
  }

  .header-title {
    font-size: 1.5em;
    margin: 0;
  }

  .scroll-content {
    margin-bottom: 1em;
  }

  .master {
    background-color: $GREY_BODY_BACKGROUND;
  }

  .coffee-grid {
    padding-bottom: 0;
  }

  .coffee-card {
    border-radius: 0.5em;
    margin: 0em auto 0.6em auto;
    padding: 0.5em 0.7em;
    @include card-no-shadow();
  }

  .amount {
    font-size: 2em;
    color: $GRADIENT_BOTTOM;
    padding-top: 0.5em;
  }

  .coffee-icon {
    color: $GRADIENT_TOP;
    font-size: 3.2em;
  }

  .more-icon {
    color: $GREY_ICON_WHITE;
    font-size: 1.3em;
    position: relative;
    top: 0.8em;
    left: 0.3em;
  }
}
