page-home {

  * {
    @include my-font();
  }

  .tabs-md .tabbar {
    background-color: white;
  }

  .tabs-md .tab-button-icon {
    font-size: 2.4em;
    transform: none !important;
    color: $GREY_ICON_WHITE_DARKER;
  }

  .badge {
    border-radius: 50%;
    @include my-gradient($RED_BADGE_TOP, $RED_BADGE_BOTTOM);
    @include my-custom-shadow-blur($RED_BADGE_SHADOW);
  }

  .tab-badge {
    top: 0.3em !important;
    right: calc(50% - 34px) !important;
  }

  ion-icon[class*="custom-home-outline"] {
    position: relative;
    top: -0.05em;
  }

  ion-icon[class*="custom-menu-outline"] {
    font-size: 2.6em !important;
  }

  .order-notification-badge {
    font-size: 0.9em;
    color: white;
    position: absolute;
    bottom: 2.7em;
    left: 61%;
    padding-left: 0.45em;
    padding-top: 0.15em;
    z-index: 12;
    width: 1.5em;
    height: 1.45em;
    border-radius: 50%;
    @include my-gradient($DINE_IN_ORANGE_TOP, $DINE_IN_ORANGE_BOTTOM);
    @include my-custom-shadow-blur($DINE_IN_ORANGE_BOTTOM);
  }

}
