<ion-header>
  <ion-grid class='nav'>
    <ion-row justify-content-center align-items-center>
      <ion-col class='back-col' col-1>
        <button (click)="back()" ion-button no-padding no-margin clear>
          <ion-icon class="nav-icon back-icon" name="custom-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-label class='header-title'>Controller</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content overflow-scroll='true'>

  <ng-container *ngIf='pageInfo && pageInfo.length'>
    <super-tabs class='super-tab' toolbarBackground='white' indicatorColor='primary'>
      <super-tab class='tab' *ngFor='let item of pageInfo; let i=index' [root]='page' [rootParams]='item'
        title='{{item.itemName}}'></super-tab>
    </super-tabs>
  </ng-container>

</ion-content>
