<ion-card class='pickerCard'>
  <ion-row>
    <ion-col class='first-item'>
      <button clear ion-button full no-padding class="button1" (click)="openCamera()">
        <ion-icon class="cameraIcon" name="custom-camera"></ion-icon>
        <span class="first-title">Take picture</span>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button clear ion-button full no-padding class="button2" (click)="openGallery()">
        <ion-icon class="galleryIcon" name="custom-gallery-outline"></ion-icon>
        <span class="second-title">Choose from gallery</span>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

<div tappable class="dark-background" (click)="close()"></div>
